<?xml version="1.0" encoding="UTF-8"?>

<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util.xsd">

  <task:annotation-driven/>
  <context:component-scan base-package="org.tiogasolutions.jobs"/>

  <!--
    <context:property-placeholder properties-ref="envProperties"/>
    <util:properties id="envProperties">
      <prop key="testing">123</prop>
    </util:properties>
  -->

  <bean class="org.tiogasolutions.jobs.kernel.config.SystemConfiguration">
    <constructor-arg index="0" value="*"/>
    <constructor-arg index="1" value="/api/v1/client"/>
    <constructor-arg index="2" value="/api/v1/admin"/>
  </bean>

  <bean class="org.tiogasolutions.runners.grizzly.GrizzlyServerConfig"
        p:hostName="localhost"
        p:port="39007"
        p:shutdownPort="39008"
        p:context="jobs-agent"
        p:toOpenBrowser="false"/>

  <!--p:masterUrl="http://localhost:5984"-->
  <bean class="org.tiogasolutions.jobs.kernel.config.CouchServersConfig"
        p:masterUrl="http://oakwinprod.stcg.net:5984"
        p:masterUserName="app-user"
        p:masterPassword="app-user"
        p:masterDatabaseName="tioga-jobs"

        p:domainUrl="http://oakwinprod.stcg.net:5984"
        p:domainUserName="app-user"
        p:domainPassword="app-user"
        p:domainDatabasePrefix="tioga-jobs-"
  />

</beans>